*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(30px);
}

.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

#logo{
    font-size: 2.1rem;
    text-decoration: none;
    color: #000;
}

.nav-list{
    display: flex;
    gap: 10px;
}

.navlist-a{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

#movie-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-card{
    width: 19%;
    border: 1px solid #ccc;
}

.a-movie{
    color: #000;
    text-decoration: none;
}

.movie-img{
    width: 100%;
}

/* Paggination */

#paggination-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-btn{
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    background: none;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2),
                inset 10px 10px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.page-btn:hover{
    background: #000;
    color: #fff;
}